agm-map {
    height: calc(100vh - 216px);
}

.searchLocationInput {
    width: 100%;
    box-sizing: border-box;
    padding: 0 10px;
}

.btn-container {
    float: right;
    margin-top: 20px;
}

.btn-client {
    float: left;
    margin-top: 10px;
    margin-left: 5px;
}

.input-form {
    width: 90%;
}

.driver-slider {
    position: relative;
    z-index: 1;
    width: 50%;
}

.table {
    clear: both;
    margin: 6px;
}

.input-filter {
    float: right;
}

.mat-horizontal-content-container {
    padding: 0 12px 12px;
}

.depot-tip {
    float: left;
    font-size: 16px;
    margin: 30px 0 0 5px;
}
