agm-map {
    height: calc(100vh - 150px);
}

label {
    margin-right: 6px;
}

.buttonPhase {
    float: right;
    margin-top: 20px;
    margin-left: 10px;
}

.driver-slider {
    position: relative;
    z-index: 1;
    width: 50%;
}

.table {
    margin: 6px;
}

.input-filter {
    float: right;
}

.mat-horizontal-content-container {
    padding: 0 12px 12px;
}

.tableError {
    float: left;
    padding-top: 25px;
    padding-left: 7px;
    color: red;
}
