<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div class="title-container">
        <div class="title">
          <span>Planning</span>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="col-xs-12 col-md-6">
        <agm-map [latitude]="map?.lat" [longitude]="map?.lng" [zoom]="map?.zoom" (mapClick)="mapClicked($event)">
          <agm-marker *ngFor="let marker of regularClientMarkers; let i = index" [latitude]="marker.lat" [longitude]="marker.lng" [label]="marker.label"
            [iconUrl]="'http://maps.google.com/mapfiles/ms/icons/red-dot.png'">
          </agm-marker>
          <agm-marker *ngFor="let marker of casualClientMarkers; let i = index" [latitude]="marker.lat" [longitude]="marker.lng" [label]="marker.label"
            [markerDraggable]="true" (dragEnd)="markerDragEnd(marker, $event, i)" [iconUrl]="'http://maps.google.com/mapfiles/ms/icons/green-dot.png'">
          </agm-marker>
          <agm-marker [latitude]="map?.lat" [longitude]="map?.lng" [markerDraggable]="false" [iconUrl]="'http://maps.google.com/mapfiles/ms/icons/blue-dot.png'">
          </agm-marker>
        </agm-map>
      </div>
      <div class="col-xs-12 col-md-6">
        <mat-horizontal-stepper [linear]="false">
          <mat-step [stepControl]="planningInfoGroup">
            <form [formGroup]="planningInfoGroup" (ngSubmit)="test()">
              <ng-template matStepLabel>Planning Info</ng-template>

              <div class="col-sm-12 col-md-8 col-md-offset-2">
                <label>Delivery Date and Time : </label>
                <mat-form-field floatPlaceholder="never">
                  <input matInput type="datetime-local" placrholder="Choose Date and Time" formControlName="dateTime">
                  <mat-error *ngIf="planningInfoGroup.get('dateTime').hasError['required']">You must enter a value</mat-error>
                </mat-form-field>

                <!-- <label>Delivery Date: </label>
                <mat-form-field>
                  <input matInput [matDatepickerFilter]="dateFilter" [matDatepicker]="picker" placeholder="Choose a date" formControlName="date">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                  <mat-error *ngIf="planningInfoGroup.get('date').hasError['required']">You must enter a value</mat-error>
                  <mat-error *ngIf="planningInfoGroup.get('date').hasError['matDatepickerFilter']">You must select correct date</mat-error>
                </mat-form-field> -->

                <!-- <br>
                <label>Delivery Start Time: </label>
                <mat-form-field class="timepicker">
                  <input matInput type="number" min="0" max="23" placeholder="Hour" formControlName="hour" (blur)="onHourBlur($event)">
                  <mat-error *ngIf="planningInfoGroup.get('hour').hasError['required']">You must enter a value</mat-error>
                </mat-form-field>

                <mat-form-field class="timepicker">
                  <input matInput type="number" min="0" max="59" placeholder="Minute" formControlName="minute" (blur)="onMinuteBlur($event)">
                  <mat-error *ngIf="planningInfoGroup.get('minute').hasError['required']">You must enter a value</mat-error>
                </mat-form-field> -->
                <br>
                <div style="margin-top:13.5px;">
                  <label>Method : </label>
                  <mat-radio-group formControlName="method">
                    <mat-radio-button style="margin-right:6px;" color="primary" value="distance">Distance</mat-radio-button>
                    <mat-radio-button value="duration" color="primary">Duration</mat-radio-button>
                  </mat-radio-group>
                </div>
              </div>

              <div>
                <mat-form-field floatPlaceholder="auto">
                  <input matInput placeholder='Search depot name' (keyup)='updateFilterDepot($event)' />
                </mat-form-field>

                <ngx-datatable #depotTable class='material' columnMode="flex" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'"
                  [limit]="5" [rows]='rows' [selected]="selectedDepot" [selectionType]="'single'" (select)='onRowSelected($event)'>

                  <ngx-datatable-column name="Index" [flexGrow]="1">
                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                      {{rowIndex + 1}}
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column prop="depotName" [flexGrow]="3"></ngx-datatable-column>


                  <ngx-datatable-column name="Lat" [flexGrow]="3">
                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                      {{value}}
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column name="Lng" [flexGrow]="3">
                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                      {{value}}
                    </ng-template>
                  </ngx-datatable-column>

                </ngx-datatable>
              </div>

              <mat-error *ngIf="planningInfoGroup.get('depotTable').invalid">You must select depot</mat-error>
              <button mat-raised-button matStepperNext color="primary" class="buttonPhase">Next</button>

            </form>
          </mat-step>

          <mat-step [stepControl]="driverFormGroup">
            <form [formGroup]="driverFormGroup">
              <ng-template matStepLabel>Select Drivers</ng-template>

              <div style="margin-top:16px;">
                <label>Number of Drivers: </label>
                <mat-slider class="driver-slider" color="primary" [value]="2" [min]="2" [max]="10" [step]="1" [thumb-label]="true" (change)="onDriverSliderChange($event)"></mat-slider>
                {{ numOfDrivers }} Drivers
              </div>

              <div style="float:left;">
                <label>Truck Capacity: </label>
                <mat-form-field>
                  <input matInput type="number" min="1" placeholder="Capacity" formControlName="capacity">
                  <mat-error *ngIf="driverFormGroup.get('capacity').hasError['required']">You must enter a value</mat-error>
                </mat-form-field>
              </div>

              <mat-form-field class="input-filter">
                <input matInput type='text' placeholder='Filter by name' (keyup)='updateFilter($event)'>
              </mat-form-field>

              <ngx-datatable #driverTable class="material expandable driver-table" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                [rowHeight]="50" [reorderable]="false" [rows]="drivers" [limit]="8" style="clear:both;" [selected]="selectedDriver"
                [selectionType]="'multiClick'" (select)='onSelect($event)'>

                <ngx-datatable-column name="No." [maxWidth]="40">
                  <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex">
                    {{ rowIndex + 1 }}

                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Name"></ngx-datatable-column>

                <ngx-datatable-column name="LicenseNo"></ngx-datatable-column>

                <ngx-datatable-column name="VehicleNo"></ngx-datatable-column>
              </ngx-datatable>

              <div style="float: left;">
                <mat-form-field class="driverTable-error">
                  <input matInput disabled formControlName="driverTable">
                  <mat-error *ngIf="driverFormGroup.get('driverTable').invalid">You must select drivers equal number of drivers</mat-error>
                </mat-form-field>
              </div>

              <button mat-raised-button matStepperNext color="primary" class="buttonPhase">Next</button>
              <button mat-raised-button matStepperPrevious color="primary" class="buttonPhase">Back</button>
            </form>
          </mat-step>

          <mat-step [stepControl]="clientFormGroup">
            <form [formGroup]="clientFormGroup">
              <ng-template matStepLabel>Select Clients</ng-template>
              <!-- <button mat-raised-button color="primary" (click)="onAddClient()">Select</button> -->

              <mat-form-field floatPlaceholder="auto">
                <input matInput placeholder='Filter by name' (keyup)='updateClientFilter($event)' />
              </mat-form-field>
              <span *ngIf="clientFormGroup.get('clientTable').invalid" style="color: red;">
                <small>
                  You must select at least one client and not more than twenty five clients
                </small>
              </span>

              <ngx-datatable #clientTable class="material expandable client-table" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                [rowHeight]="50" [reorderable]="false" [rows]="regularClients" [limit]="8" style="clear:both;" [selected]="selectedRegularClients"
                [selectionType]="'checkbox'" (select)='onRegularClientSelected($event)'>

                <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false" [headerCheckboxable]="true"
                  [checkboxable]="true">
                </ngx-datatable-column>

                <ngx-datatable-column prop="companyName"></ngx-datatable-column>

                <ngx-datatable-column prop="branchName" name="Branch"></ngx-datatable-column>

                <ngx-datatable-column prop="demand">
                  <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                    <span *ngIf="!selectedRegularClients.includes(row)">
                      {{value}}
                    </span>
                    <mat-form-field floatPlaceholder="never" *ngIf="selectedRegularClients.includes(row)">
                      <input matInput [value]="value" type="number" placeholder='Demand' required (blur)="updateRegularClientCellValue($event, 'demand', rowIndex)">
                    </mat-form-field>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Wait time (min)" prop="waitTime">
                  <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                    <span *ngIf="!selectedRegularClients.includes(row)">
                      {{value}}
                    </span>
                    <mat-form-field floatPlaceholder="never" *ngIf="selectedRegularClients.includes(row)">
                      <input matInput type="number" [value]="value" placeholder='Wait Time' required (blur)="updateRegularClientCellValue($event, 'waitTime', rowIndex)">
                    </mat-form-field>
                  </ng-template>
                </ngx-datatable-column>

              </ngx-datatable>

              <br>
              <ngx-datatable #casualClientTable class="material expandable client-table" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                [rowHeight]="50" [reorderable]="false" [rows]="casualClients" [limit]="2" style="clear:both;">

                <ngx-datatable-column prop="location">
                  <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                    <span title="Double click to edit" (dblclick)="editing[rowIndex + '-location'] = true" *ngIf="!editing[rowIndex + '-location']">
                      {{value}}
                    </span>
                    <mat-form-field floatPlaceholder="never" *ngIf="editing[rowIndex+ '-location']">
                      <input matInput autofocus [value]="value" (blur)="updateCasualClientCellValue($event, 'location', rowIndex)" type="text"
                        [value]="value" placeholder="Location name" />
                    </mat-form-field>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column prop="demand">
                  <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                    <mat-form-field floatPlaceholder="never">
                      <input matInput type="number" [value]="value" (blur)="updateCasualClientCellValue($event, 'capacity', rowIndex)" placeholder='Capacity' required>
                    </mat-form-field>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column prop="waitTime">
                  <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                    <mat-form-field floatPlaceholder="never">
                      <input matInput type="number" [value]="value" placeholder='Wait Time' required (blur)="updateRegularClientCellValue($event, 'waitTime', rowIndex)" required>
                    </mat-form-field>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column [maxWidth]="40">
                  <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex">
                    <span class="glyphicon glyphicon-trash" mat-raised-button color="primary" (click)="onDeleteCasualClient(rowIndex)">x</span>
                  </ng-template>
                </ngx-datatable-column>

              </ngx-datatable>

              <!-- <div style="float: left;">
                <mat-form-field class="clientTable-error">
                  <input matInput style="visibility: hidden;" formControlName="clientTable">
                </mat-form-field>
              </div> -->

              <div>
                <mat-error *ngIf="!isAllInputFill">Please fill all input</mat-error>
                <mat-error *ngIf="!isCasualClientValid">Please complete casual client fields</mat-error>
                <button mat-raised-button color="primary" [disabled]="!isAllInputFill || !isCasualClientValid || clientFormGroup.get('clientTable').invalid" class="buttonPhase" (click)="onSave()">Save</button>
                <button mat-raised-button matStepperPrevious color="primary" class="buttonPhase">Back</button>
              </div>
            </form>
          </mat-step>
        </mat-horizontal-stepper>
      </div>
    </div>
  </div>
</div>