<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div class="title-container">
        <div class="title">
          <span>Planning</span>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="col-xs-12 col-md-6">
        <agm-map [latitude]="lat" [longitude]="lng">
          <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>
      </div>
      <div class="col-xs-12 col-md-6">
        <mat-horizontal-stepper [linear]="false">
          <mat-step [stepControl]="planningInfoGroup">
            <form [formGroup]="planningInfoGroup" (ngSubmit)="test()">
              <ng-template matStepLabel>Planning Info</ng-template>

              <div class="col-sm-12 col-md-8 col-md-offset-2">
                <label>Delivery Date: </label>
                <mat-form-field>
                  <input matInput [matDatepickerFilter]="dateFilter" [matDatepicker]="picker" placeholder="Choose a date" formControlName="date">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                  <mat-error *ngIf="planningInfoGroup.get('date').hasError['required']">You must enter a value</mat-error>
                  <mat-error *ngIf="planningInfoGroup.get('date').hasError['matDatepickerFilter']">You must select correct date</mat-error>
                </mat-form-field>
                
                <br>
                <label>Delivery Start Time: </label>
                <mat-form-field class="timepicker">
                  <input matInput type="number" min="1" max="24" placeholder="Hour" formControlName="hour" (blur)="onHourBlur($event)">
                  <mat-error *ngIf="planningInfoGroup.get('hour').hasError['required']">You must enter a value</mat-error>
                </mat-form-field>
                
                <mat-form-field class="timepicker">
                  <input matInput type="number" min="0" max="59" placeholder="Minute" formControlName="minute" (blur)="onMinuteBlur($event)">
                  <mat-error *ngIf="planningInfoGroup.get('minute').hasError['required']">You must enter a value</mat-error>
                </mat-form-field>
                
                <br>
                <div style="margin-top:13.5px;">
                  <label>Select Method: </label>
                  <mat-radio-group formControlName="method">
                    <mat-radio-button style="margin-right:6px;" color="primary" value="distance">Distance</mat-radio-button>
                    <mat-radio-button value="duration" color="primary">Duration</mat-radio-button>
                  </mat-radio-group>
                </div>
                
                <button mat-raised-button matStepperNext color="primary" class="buttonPhase">Next</button>
              </div>

            </form>
          </mat-step>

          <mat-step [stepControl]="driverFormGroup">
            <form [formGroup]="driverFormGroup">
              <ng-template matStepLabel>Select Drivers</ng-template>

              <div style="margin-top:16px;">
                <label>Number of Drivers: </label>
                <mat-slider class="driver-slider" color="primary" [value]="2" [min]="2" [max]="10" [step]="1" [thumb-label]="true" (change)="onDriverSliderChange($event)"></mat-slider>
                {{ numOfDrivers }} Drivers
              </div>

              <div style="float:left;">
                <label>Truck Capacity: </label>
                <mat-form-field>
                  <input matInput type="number" min="1" placeholder="Capacity" formControlName="capacity">
                  <mat-error *ngIf="driverFormGroup.get('capacity').hasError['required']">You must enter a value</mat-error>
                </mat-form-field>
              </div>

              <mat-form-field class="input-filter">
                <input matInput type='text' placeholder='Filter by name' (keyup)='updateFilter($event)'>
              </mat-form-field>

              <ngx-datatable #driverTable class="material expandable driver-table" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="50"
                [reorderable]="false" [rows]="drivers" [limit]="8" style="clear:both;" [selected]="selectedDriver" [selectionType]="'multiClick'"
                (select)='onSelect($event)'>

                <ngx-datatable-column name="No." [maxWidth]="40">
                  <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex">
                    {{ rowIndex + 1 }}
                  </ng-template>
                </ngx-datatable-column>
              
                <ngx-datatable-column name="Name"></ngx-datatable-column>
              
                <ngx-datatable-column name="LicenseNo"></ngx-datatable-column>
              
                <ngx-datatable-column name="VehicleNo"></ngx-datatable-column>
              </ngx-datatable>

              <div style="float: left;">
              <mat-form-field class="driverTable-error">
                <input matInput disabled formControlName="driverTable">
                <mat-error *ngIf="driverFormGroup.get('driverTable').invalid">You must select drivers equal number of drivers</mat-error>
              </mat-form-field>
              </div>

              <button mat-raised-button matStepperNext color="primary" class="buttonPhase">Next</button>
              <button mat-raised-button matStepperPrevious color="primary" class="buttonPhase">Back</button>
            </form>
          </mat-step>

          <mat-step [stepControl]="secondFormGroup">
            <form [formGroup]="secondFormGroup">
              <ng-template matStepLabel>Select Clients</ng-template>
              <mat-form-field>
                <input matInput placeholder="Address" formControlName="secondCtrl" required>
              </mat-form-field>
              
              <button mat-raised-button matStepperNext color="primary" class="buttonPhase">Next</button>
              <button mat-raised-button matStepperPrevious color="primary" class="buttonPhase">Back</button>
            </form>
          </mat-step>

          <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            You are now done.
            <div>
              <button mat-button matStepperPrevious>Back</button>
            </div>
          </mat-step>
        </mat-horizontal-stepper>
      </div>
    </div>
  </div>
</div>
