agm-map {
    height: calc(100vh - 150px);
}

/* .timepicker {
    width: 80px;
} */

label {
    margin-right: 6px;
}

.buttonPhase {
    float: right;
    margin-top: 25px;
    margin-left: 10px;
}

.driver-slider {
    position: relative;
    z-index: 1;
    width: 50%;
}

.driver-table {
    margin: 0 4px;
}

.input-filter {
    float: right;
}

.mat-horizontal-stepper-header-container {
    padding: 0px 30px;
}

.driverTable-error {
    width: 300px;
}

.driverTable-error .mat-input-flex {
    display: none !important;
}

.driverTable-error .mat-input-underline {
    height: 0 !important;
}

.driverTable-error .mat-input-ripple {
    height: 0 !important;
}

.driverTable-error .mat-input-subscript-wrapper {
    margin-top: 10px
}
div#mat-step-content-0-0 {
    padding-left: 1%;
    padding-right: 1%;
}
div#mat-step-content-0-2 {
    padding-left: 1%;
    padding-right: 1%;
}
.ngx-datatable.material.single-selection .datatable-body-row.active, .ngx-datatable.material.single-selection .datatable-body-row.active .datatable-row-group, .ngx-datatable.material.multi-selection .datatable-body-row.active, .ngx-datatable.material.multi-selection .datatable-body-row.active .datatable-row-group, .ngx-datatable.material.multi-click-selection .datatable-body-row.active, .ngx-datatable.material.multi-click-selection .datatable-body-row.active .datatable-row-group {
    background-color: #b9c3ff!important;
}



