<mat-toolbar color="primary">
    <div class="nav-responsive">
        <button mat-icon-button (click)="onNavResponsive()">
            <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
        </button>
    </div>

    <div class="nav-bar">
        <a mat-button (click)="onHomeClicked()"><i class="fa fa-truck logo" aria-hidden="true"></i> Home</a>

        <span *ngIf="isLoggedIn">
            <span *ngIf="role === 'planner'">
                <!-- Planner -->
                <a mat-button routerLink="/planner/planning">Planning</a>
                <a mat-button routerLink="/planner/client">Client</a>
                <a mat-button routerLink="/planner/depot">Depot</a>
            </span>

            <a mat-button class="right" (click)="onLogout()">Logout</a>
        </span>
    </div>
</mat-toolbar>
