.mat-toolbar {
    height: 54px !important;
    min-height: 54px !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mat-toolbar-layout {
    height: 54px !important;
    min-height: 54px !important;
}

.mat-toolbar-row {
    height: 54px !important;
    min-height: 54px !important;
}

.nav-bar {
    width: 100%;
}

.right {
    float: right;
}

.logo {
    font-size: 26px;
    margin: 0 10px 6px 0;
}

a.mat-button {
    height: 36px;
    padding: 0 14px;
    font-size: 19px;
}

.nav-responsive {
    display: none;
}

hr {
    width: 90%;
    color: #cacaca;
}

.fa-2x {
    font-size: 1.8em;
}

@media only screen and (max-width: 768px) {
    .nav-bar {
        display: none;
    }

    .nav-responsive {
        display: inline;
    }
}
