<div>
  <div class="row">
    <div class="col-xs-12">
      <div class="col-xs-12 col-md-6">
        <div [hidden]="!isSearched || clientFound">
          <mat-form-field floatPlaceholder="never" class="searchLocation">
            <input matInput placeholder="Search for location" #search>
          </mat-form-field>
        </div>

        <agm-map style="height: 600px;" [latitude]="map?.lat" [longitude]="map?.lng" [zoom]="map?.zoom" (mapClick)="onMapClicked($event)">
          <agm-marker [latitude]="marker?.lat" [longitude]="marker?.lng" [label]="marker?.label" [markerDraggable]="marker?.draggable"
            (dragEnd)="onDragEnd($event)">
          </agm-marker>
        </agm-map>
      </div>

      <div class="col-xs-12 col-md-6">
        <h2 style="text-align: center;" *ngIf="!isView">Select a client</h2>
        <h2 style="text-align: center;" *ngIf="isView">View client</h2>
        <div id="searchPhoneNumber" [hidden]="isView">
          Search phone number :
          <mat-form-field floatPlaceholder="never" id="telNumInput">
            <input matInput type="tel" maxlength="10" #telNumInput/>
          </mat-form-field>
          <button [disabled]="telNumInputElementRef.nativeElement.value.length < 9" mat-raised-button color="primary" (click)="onSearch()">Search</button>
        </div>
        <form [formGroup]="clientFormGroup" (ngSubmit)="onConfirm()">
          <table *ngIf="isSearched" id="clientInfo">
            <tr>
              <td>Client Name :</td>
              <td>
                <mat-form-field *ngIf="!clientFound" floatPlaceholder="never">
                  <input matInput type="text" placeholder="Client name" formControlName="clientName">
                </mat-form-field>
                <span *ngIf="clientFound">{{clientFormGroup.controls.clientName.value}}</span>
              </td>
            </tr>
            <tr>
              <td>Telephone Number :</td>
              <td>
                <mat-form-field *ngIf="!clientFound" floatPlaceholder="never">
                  <input matInput type="tel" placeholder="Telephone number" formControlName="telNum">
                </mat-form-field>
                <span *ngIf="clientFound">{{clientFormGroup.controls.telNum.value}}</span>
              </td>
            </tr>
            <tr>
              <td>Address :</td>
              <td>
                <mat-form-field *ngIf="!clientFound" floatPlaceholder="never">
                  <textarea matInput type="text" placeholder="Address" formControlName="address"></textarea>
                </mat-form-field>
                <span *ngIf="clientFound">{{clientFormGroup.controls.address.value}}</span>
              </td>
            </tr>
          </table>
          <div id="modalAction">
            <button mat-raised-button color="primary" [disabled]="!isSearched" tabindex="2">Confirm</button>
            <button mat-button [mat-dialog-close]="false" tabindex="-1">Cancel</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>