<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div class="title-container">
        <div class="title">
          <span>Depot</span>
        </div>
     </div>
  </div>
</div>
<mat-card>
  <mat-form-field floatPlaceholder="auto">
    <input matInput placeholder='Search company name' (keyup)='updateFilter($event)' />
  </mat-form-field>

  <ngx-datatable #table class='material' columnMode="flex" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="10"
    [rows]='rows'>

    <ngx-datatable-column name="Index" [flexGrow]="1">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
        {{rowIndex + 1}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column prop="depotName" [flexGrow]="3"></ngx-datatable-column>


    <ngx-datatable-column name="Lat" [flexGrow]="3">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
        {{value}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Lng" [flexGrow]="3">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
        {{value}}
      </ng-template>
    </ngx-datatable-column>

    

  </ngx-datatable>
</mat-card>

</div>
