<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div class="title-container">
                <div class="title">
                    <i class="fa fa-truck" aria-hidden="true"></i>
                    <span>VRP Project</span>
                    <div class="slogan">add slogan here</div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3">
            <div class="login-container">
                <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
                    <div class="row">
                        <div class="col-xs-8 col-xs-offset-2">
                            <div class="login-text">
                                 Login
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-8 col-xs-offset-2">
                            <div class="form-element-container">
                                <mat-form-field>
                                    <input matInput placeholder="Username" formControlName="username">
                                    <mat-error *ngIf="loginForm.get('username').invalid">{{getErrorMessage()}}</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-8 col-xs-offset-2">
                            <div class="form-element-container">
                                <mat-form-field>
                                    <input matInput placeholder="password" formControlName="password" [type]="showPassword ? 'password' : 'text'">
                                    <i matSuffix (click)="showPassword = !showPassword" [class]="showPassword ? 'fa fa-eye' : 'fa fa-eye-slash'" aria-hidden="true"></i>
                                    <mat-error *ngIf="loginForm.get('password').invalid">{{getErrorMessage()}}</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-8 col-xs-offset-2">
                            <div class="form-element-container">
                                <button mat-raised-button color="primary" class="login-btn">Login</button>
                                <div class="err">{{errorMessage}}</div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
