agm-map {
    height: calc(100vh - 150px);
}

.driver-table {
    margin: 0 12px 12px;
}

.clear-btn {
    margin-left: calc(100% - 140px);
}

.info {
    overflow: auto;
    max-height: calc(100vh - 150px);
}

.expand-container {
    padding: 0 15px 15px;
    box-sizing: border-box;
}

.mat-expansion-panel-header-title {
    flex-grow: 0.3;
}

.complete-btn {
    display: table;
    margin: 0 auto;
    width: 140px;
}
