<mat-toolbar>
    <span>
    <button mat-button routerLink="/planner">Planning History</button>
    <button mat-button routerLink="planning/result/id">Planning Result</button>
    <button mat-button routerLink="planning/id">Planning Id</button>
    <button mat-button routerLink="depot">Depot</button>
    <button mat-button routerLink="client">Client</button>
    <button mat-button routerLink="" class="btnLogout">Logout</button>
    </span>
</mat-toolbar>
<br><br><mat-card class="planer">
    <p>
        planner works!
    </p>
  <!-- // just a link button -->
  <router-outlet></router-outlet>
</mat-card>