<h1>Create Client!</h1>
<div class="container">
  <div class="col-md">
    <mat-card>
      <h1>Angular 2 + Google Maps Places Autocomplete</h1>
      <!-- <div class="form-group">
        <input placeholder="search for location" class="form-control"
          #search [formControl]="searchControl">
      </div> -->
      <!-- <input type="text" [(ngModel)]="address"  (setAddress)="getAddress($event)" googleplace/> -->
      <agm-map style="height: 700px;" [latitude]="lat" [longitude]="lng" [zoom]="zoom" (mapClick)="mapClicked($event)">
        <agm-marker *ngFor="let marker of markers; let i = index" [latitude]="marker.lat" [longitude]="marker.lng" [label]="marker.label"
          [markerDraggable]="marker.draggable" (markerClick)="clickedMarker(marker.label, i)">
          <agm-snazzy-info-window [maxWidth]="200" [closeWhenOthersOpen]="true">
            <ng-template>
              {{marker.label}}
            </ng-template>
          </agm-snazzy-info-window>
        </agm-marker>
      </agm-map>
    </mat-card>
  </div>
  <div class="col-md">
    
    <mat-card>
      <div>
        <div *ngIf="client.companyName">
          Company name :
          <mat-form-field floatPlaceholder="never">
            <input matInput placeholder="Company Name" [value]="client.companyName">
          </mat-form-field>
        </div>
      </div>

      <mat-form-field floatPlaceholder="auto">
        <input matInput placeholder='Type to filter the name column...' (keyup)='updateFilter($event)' />
      </mat-form-field>

      <ngx-datatable #table class='material' [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'"
        [limit]="10" [rows]='rows' [selected]="selected" [selectionType]="'single'">

        <ngx-datatable-column prop="branchName">
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <span title="Double click to edit" (dblclick)="editing[rowIndex + '-branchName'] = true" *ngIf="!editing[rowIndex + '-branchName']">
              {{value}}
            </span>
            <form [formGroup]="editForm">
            <input autofocus (blur)="updateValue($event, 'branchName', rowIndex)" *ngIf="editing[rowIndex+ '-branchName']" type="text"
              [value]="value"
              id="bname"
              formControlName="bname"
              class="form-control"/>
            </form>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Coordinate"></ngx-datatable-column>

        <ngx-datatable-column name="Edit">
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
            <button mat-button (click)="onDelete(rowIndex)">Delete</button>
          </ng-template>
        </ngx-datatable-column>

      </ngx-datatable>
      <span 
      *ngIf="!editForm.valid && editForm.touched"
      class="helpbox"
      >Please enter valid data!</span>  
      <div>
        <button mat-button (click)="onSave()"
        [disabled]="!editForm.valid && editForm.touched"
        >Save</button>
        <button mat-button (click)="onDeleteAll()">Delete</button>
        <button mat-button (click)="onCancel()">Cancel</button>
      </div>
    </mat-card>
  </div>
</div>
