<h1 *ngIf="isNew">New Client!</h1>
<h1 *ngIf="!isNew">Create Client!</h1>
<div class="container">
  <div class="col-sx-6">
    <mat-card>
      <h2>Maps</h2>
      <div class="form-group">
        <input placeholder="search for location" class="form-control" #search [formControl]="searchControl">
      </div>
      <agm-map style="height: 700px;" [latitude]="lat" [longitude]="lng" [zoom]="zoom" (mapClick)="mapClicked($event)">
        <agm-marker *ngFor="let marker of markers; let i = index" [latitude]="marker.lat" [longitude]="marker.lng" [label]="marker.label"
          [markerDraggable]="marker.draggable" (markerClick)="clickedMarker(marker.label, i)" (dragEnd)="markerDragEnd(marker, $event, i)">
          <agm-snazzy-info-window [maxWidth]="200" [closeWhenOthersOpen]="true">
            <ng-template>
              {{marker.label}}
            </ng-template>
          </agm-snazzy-info-window>
        </agm-marker>
      </agm-map>
    </mat-card>
  </div>
  <div class="col-md">
    
    <mat-card>
      <h3>Client Info</h3>
      <div>
        Company name :
        <mat-form-field floatPlaceholder="never">
          <input matInput placeholder="Company Name" [(ngModel)]="client.companyName">
        </mat-form-field>
      </div>

      <mat-form-field floatPlaceholder="auto">
        <input matInput placeholder='Search branch name' (keyup)='updateFilter($event)' />
      </mat-form-field>

      <ngx-datatable #table class='material' columnMode="flex" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="10"
        [rows]='client.branches' [selected]="selected" [selectionType]="'single'" (select)='onRowSelected()'>

        <ngx-datatable-column prop="branchName" [flexGrow]="2">
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <span title="Double click to edit" (dblclick)="editing[rowIndex + '-branchName'] = true" *ngIf="!editing[rowIndex + '-branchName']">
              {{value}}
            </span>
            <form [formGroup]="editForm">
            <input autofocus (blur)="updateValue($event, 'branchName', rowIndex)" *ngIf="editing[rowIndex+ '-branchName']" type="text"
              [value]="value"
              id="branchNameInput"
              formControlName="branchNameInput"
              class="form-control"/>
            </form>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Coordinate" [flexGrow]="3">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
              {{ value[0] | number: '1.6-6' }}, {{ value[1] | number: '1.6-6'}}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Edit" [flexGrow]="2">
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
            <button mat-raised-button color="primary" (click)="onDelete(rowIndex)">Delete</button>
          </ng-template>
        </ngx-datatable-column>

      </ngx-datatable>
      <span 
      *ngIf="!editForm.valid && editForm.touched"
      class="helpbox"
      >Please enter valid data!</span>  
      <div>
        <button mat-raised-button color="primary" (click)="onSave()"
        [disabled]="!editForm.valid && editForm.touched"
        >Save</button>
        <button mat-raised-button color="warn" (click)="onDeleteAll()">Delete</button>
        <button mat-raised-button (click)="onCancel()">Cancel</button>
        <button mat-raised-button (click)="onClick()">Test</button>
      </div>
    </mat-card>
  </div>
  <h1 mat-dialog-title>Hi {{data.name}}</h1>
  <div mat-dialog-content>
    <p>What's your favorite animal?</p>
    <mat-form-field>
      <input matInput tabindex="1" [(ngModel)]="data.animal">
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="data.animal" tabindex="2">Ok</button>
    <button mat-button (click)="onNoClick()" tabindex="-1">No Thanks</button>
  </div>
</div>

  
